<html>

    <head>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    </head>

    <body>

          <div ng-app="" ng-controller="number1">
            Number: <input type="text" ng-model="num1"><br>
            <br>
            <div ng-repeat="n in numbers">
                <p>{{num1}}*{{n}}={{num1 * n}}</p>
            </div>
        </div>

        <script>
            function number1($scope) {
                $scope.num1 = "1",
                $scope.numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
            }
        </script>

    </body>
</html>